<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.vtr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VTR</name>
    <description>
        Описание приложения
    </description>
    <author email="developer@alna.ru" href="">
        ООО АЛНА
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>Данные о вашем местоположении могут быть использованы при подаче и поиске объявлений</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Приложению нужен доступ к камере что бы делать фотографии для логотипа пользователя</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Приложению нужен доступ к галреее, что бы прикрепить фотографиюю к логотипу пользователя</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>Данные о вашем местоположении могут быть использованы при подаче и поиске объявлений</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Приложению нужен доступ к галреее, что бы прикрепить фотографиюю к логотипу пользователя</string>
        </edit-config>
    </platform>
</widget>
