@charset "utf-8";
body{
    word-wrap: break-word;
    height: 100%;
    opacity: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
    background-color: #f7f7f7;
}
/*Кнопки начало*/
.btnRed{
    display: block;
    outline: none;
    border: 2px solid #F64646;
    background: #F64646;
    color: white;
    border-radius: 3px;
    padding: 5px 50px;
    font-size: 16px;
}
/*Кнопки конец*/
/*Табы начало*/
.customTabsProfile{
    font-size: 14px;
}
.customTabContent{
    min-height: 300px;
}
.customTabsProfile .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: white;
    border-radius: 14px;
    color: #757575;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
}
.customTabsProfile .nav-pills .nav-link{
    background: white;
    border-radius: 14px;
    color: #F64646;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.11);
    padding: 7px;
    margin: 0 3px;
}
.customTabsProfile .card-header{
    border: none;
    padding: 0;
    margin-bottom: 20px;
    background: #f7f7f7;
    position: relative;
    box-shadow: none;
    height: fit-content;
}
.customTabsProfile .nav-item{
    display: block;
    margin: 0 auto;
}
.customTabsProfile .card-header-pills{
    width: fit-content;
    margin: 0 auto;
}
.customTabsProfile .card{
    border:none;
    background-color: #f7f7f7;
}
.customTabsProfile .card-body{
    padding: 0;
}
/*Табы конец*/
/*Шапка начало*/
.header{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 19px;
    background-color: #f7f7f7;
    position: relative;
}
.back{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
/*Шапка конец*/
/*Анимация перехода начало*/
.opacity-enter-active {
    opacity: 1;
    transition: all .3s ease;
}
.opacity-enter, .opacity-leave-to {
    opacity: 0;
    transition: all .3s ease;
}
/*Анимация перехода конец*/
/*Дополнительно начало*/
.redColor{
    color: #F64646;
}
.whiteBlock{
    background-color: white;
}
.greyBlock{
    background-color: #f7f7f7;
}
/*Дополнительно конец*/
