/*Анимация перехода начало*/
.opacity-enter-active {
    opacity: 1;
    transition: all .3s ease;
}
.opacity-enter, .opacity-leave-to {
    opacity: 0;
    transition: all .3s ease;
}
/*Анимация перехода конец*/
/*Задний фон начало*/
.backgroundMap::before {
    content: '';
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: -1;
    background: url('../assets/main.svg') center / cover no-repeat;
    filter: blur(5px);
}
/*Задний фон конец*/
/*Дополнительно начало*/
.title{
    color: #15CC5E;
    font-size: 21px;
    width: 80%;
    margin: 30px auto;
    max-width: 600px;
}
.app{
    max-width: 600px;
    margin: 0 auto;
}
.getMargin{
    margin-top: 50px !important;
}
.maxSize{
    max-width: 600px;
    margin: 0 auto;
}
/*Дополнительно конец*/
/*Кнопка дальше начало*/
.goToGame{
    margin: 0 auto;
    background: #15CC5E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
    border-radius: 7px;
    color: white;
    width: 80%;
    padding: 2% 0;
    max-height: 40px;
    display: grid;
    place-content: center;
    margin-top: 50px;
    outline: none;
    border:2px solid #15CC5E;
    transition: .3s ease;
    max-width: 600px;
}
button.goToGame:active{
    border-color: #15CC5E;
    background: white;
    color: #15CC5E;
}
.goToGameBlock{
    height: 100px;
}
/*Кнопка дальше конец*/
/*header*/
.header{
    height: 40px;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    color: #15CC5E;
    background: white;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    padding: 0 15px;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
}
.header img{
    margin-right: auto;
}
